

.cell {
    width: 25px;
    height: 25px;
    background-color: #A1CF6B;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-weight: 700;
    font-size: 1.2rem;
}

.show {
    background-color: #7AC74F;
}

.cell:hover {
    background-color: #7AC74F;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.darkBlue {
    color: darkblue;
}